body {
    font-family: sans-serif;
  
}
nav{
padding: 20px;

}
nav a{

    background-color: aqua;
    padding: 5px;
    background: aqua;
    border: 2px solid aqua;
   
    padding-left: 1px;
    padding-right: 1px;
    border-radius: 5px;
    width: 65px;
    height: 25px;
    margin-top: 3px;
    margin-left: 10px;
    text-decoration: none;

    

    
}
nav{
text-align: center


}


 
    
    
    






header{
background-color: aqua;
width: 426;
height: 60;
padding: 11px;


}
header h1{
    text-align:center ;
    margin-bottom: 3px;
    margin-top: 3px;
    color: black;
    
  



}
main h1{
margin-left: 10px;

}
margin img{
margin-top: 25px;
height: 90;
width: 190;
text-align: center;

}
main ul {
font-size: 30px;
background-color:B4B4B4 ;
background: grey;


}
main font{
background-color:grey;


}
footer {
background-color: grey;
padding: 1px;
width: 1000px;
left: 0px;
right: 0px;
position: absolute;

}

footer p {
font-size: 20px;
background-color: white;
padding: 5px;

}
header img{padding-top: 20px;

}
